.border-top-left
{
    border-top-left-radius: 10px;
}
.border-top-right
{
    border-top-right-radius: 10px;
}
#openbtn{
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
}
#addSidebarButton
{
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
}
.input-bar
{
    grid-area: input-bar;
    margin-left: 15%;
    margin-right: 15%;
}
.input-bar-border
{
    border-radius: 3px;
    border: #c6c6c6 2px solid;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
#input-bar-user-input {
    flex: 1;
    font-size: 16px;
    color: black;
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
}
#input-bar-user-input::placeholder 
{
    color: #c6c6c6;
}
#send-button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}



.sidebar {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-x: hidden;
}
#closing_sidebar
{
    width: 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: scroll;
    transition: 0.3s;
}
#send-button:hover {
    background-color: #0056b3;
}
#sidebar_header
{
    color: white;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sidebar_item
{
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    text-underline: none;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
}
.sidebar_item:hover
{
    background-color: #424549;
    color: white;
    transition-duration: 0.3s;
}
.main-feed
{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3rem;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrolling */

}
.UserTextContainer
{
    justify-items: right;
}
.UserText
{
    background-color: #36393e;
    border-radius: 15px;
    border-top-right-radius: 0px;
    padding: 1rem;
    color: white;
    word-wrap: break-word;
}
.UserTextTime
{
    color: #c6c6c6;
    padding: 0.3rem;
    font-size: 0.8rem;
}
.ChatTextContainer
{
    justify-items: left;
}
.ChatText
{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border-top-left-radius: 0px;
    padding: 1rem;
    color: black;
    width: fit-content;
}
.chat_icon
{
    margin-right: 0.5rem;
}


/* MEDIA QUERIES */

@media (max-width: 800px) {
    #closing_sidebar {
        width: 0px;
        display: none;
    }
}

/*just for the loading animation */

#loading_animation
{
    display: none;
    padding: 1rem;
}

.dots .dot {
    animation: blink 1s infinite;
    opacity: 0.2;
    font-size: 1rem;
}

.dots .dot:nth-child(1) { animation-delay: 0s; }
.dots .dot:nth-child(2) { animation-delay: 0.2s; }
.dots .dot:nth-child(3) { animation-delay: 0.4s; }

@keyframes blink {
    50% { opacity: 1; }
}