.main_blue_background
{
    background-color: #002d9c;
}
.main_white_background
{
    background-color: #FFFFFF;
}
.main_grey_background
{
    background-color: #c6c6c6;
}
.header-border-radius
{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.content-popup {
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-areas: 
    'main-feed'
    'input-bar'
;
    width: 100%;
    height: 90%
}
#popup_container
{
    bottom: 1rem;
    right: 1rem;
    width: 30rem;
    height: 35rem;
    border-radius: 10px;
    box-shadow: #c5c5c5 0px 1px 0px 1px;
    position: fixed;
}
#header-text
{
    font-weight: bold;
}